@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700,900&display=swap');

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Titillium Web', sans-serif;
  background-color: #161743;
}

.container {
  padding: 10px;
  width: 600px;
  margin: 50px auto;
}

.header {
  width: 600px;
  height: 200px;
  background-image: url('../img/bg.jpg');
  background-size: 100% 200%;
  background-repeat: no-repeat;
  border-radius: 15px 15px 0 0;
  position: relative;
}

.clear {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 20px;
  top: 20px;
}

.clear i {
  font-size: 30px;
  color: #fff;
}

.clear i:hover {
  cursor: pointer;
  text-shadow: 1px 3px 5px #000;
  transform: rotate(45deg);
  transition: all ease-in-out .4s;
}

#date {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #fff;
  font-size: 25px;
  font-family: 'Titillium Web', sans-serif;
}

.content {
  width: 600px;
  height: 350px;
  max-height: 350px;
  background-color: #fff;
  overflow: auto;
}

.content::-webkit-scrollbar {
  display: none;
}

.content ul {
  padding: 0;
  margin: 0;
}

.item {
  width: 600px;
  height: 45px;
  max-height: 45px;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.item i.co {
  position: absolute;
  font-size: 25px;
  padding-left: 5px;
  left: 15px;
  top: 10px;
}

.item i.co:hover {
  cursor: pointer;
}

.item p.text {
  position: absolute;
  padding: 0;
  margin: 0;
  font-size: 20px;
  background-color: #fff;
  left: 50px;
  top: 8px;
  max-width: 400px;
}

.item i.ed {
  position: absolute;
  font-size: 25px;
  top: 10px;
  right: 55px;
}

.item i.ed:hover {
  color: #4162f6;
  cursor: pointer;
  transition: all ease-in-out .3s;
}

.item i.de {
  position: absolute;
  font-size: 25px;
  right: 15px;
  top: 10px;
}

.item i.de:hover {
  color:#af0000;
  cursor: pointer;
  transition: all ease-in-out .3s;
}

.add-to-do {
  position: relative;
  width: 580px;
  height: 40px;
  background-color: #fff;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.add-to-do i {
  position: absolute;
  font-size: 40px;
  color: #4162f6;
}

.add-to-do input {
  position: absolute;
  left: 50px;
  width: 310px;
  height: 35px;
  background-color: transparent;
  border: none;
  font-size: 20px;
  padding-left:10px;
}

.add-to-do input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #4162f6;
  font-family: 'Titillium Web', sans-serif;
  font-size: 20px;
}
.add-to-do input::-moz-placeholder { /* Firefox 19+ */
  color: #4162f6;
  font-family: 'Titillium Web', sans-serif;
  font-size: 20px;
}
.add-to-do input:-ms-input-placeholder { /* IE 10+ */
  color: #4162f6;
  font-family: 'Titillium Web', sans-serif;
  font-size: 20px;
}
.add-to-do input:-moz-placeholder { /* Firefox 18- */
  color: #4162f6;
  font-family: 'Titillium Web', sans-serif;
  font-size: 20px;
}